# Vold can also run as minivold in the rootfs
recovery_only(`
  allow vold rootfs:dir { add_name write };
  allow vold rootfs:file execute_no_trans;
  allow vold vold_tmpfs:file link;
')
